h1
{
  color: black;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', global_font_string;
    font-weight: 400;
    background-color: whitesmoke;
}
#insta{
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Shalimar', cursive;
    font-size: 25px;
    font-weight: 600;
}
.images{
    width: 100%;
    height: auto;
}