<nav class="navbar navbar-expand-sm fixed-top" style="background-color: white; border: 2px solid rgba(245, 245, 245, 0.932);">
    <a class="navbar-brand" id="insta" href="/" style=" color: black;">Instagram</a>

    <div class=" navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin" style=" color: black;">Dashboard</a>
            </li>
            <li>
                <a class='btn btn-default' href="/accounts/register">Register</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style=" color: black;">
                    Location
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/?location={{location.id}}"></a>

                </div>
            </li>

        </ul>

        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="">

                <div class="input-group">
                    <input type="text" class="form-control rounded-pill"  placeholder="  Search" name="images">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fab fa-instagram text-danger "
                                aria-hidden="true"></i>
                        </button>

                    </div>
                </div>

            </form>
        </div>
        <!-- search form end -->
        <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/login">Login</a>
            </li>
            
  
            {% endif %}
          </div>
    </div>
</nav>