<nav class="navbar navbar-expand-sm fixed-top"
    style="background-color: white; border: 2px solid rgba(245, 245, 245, 0.932);">
    <a class="navbar-brand" id="insta" href="/"
        style=" color: black; margin-left: 13%; padding-right: 20%;">Instagram</a>

    <div class=" navbar-collapse" id="">
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="">

                <div class="input-group">
                    <input  type="text" class="form-control" placeholder="Search" style="font-weight: 700 "
                        name="images" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            
                        </button>

                    </div>
                </div>

            </form>

        </div>

        <div class="icons">
            <a class=""href="/"><img class="text-white" src="https://img.icons8.com/m_outlined/2x/home--v2.png" alt="" style="width: 8%;"></a>
            <a class=""href="/"><img class="text-white" src="https://img.icons8.com/ios7/2x/facebook-messenger.png" alt=""
                style="width: 8%;"></a>
            <a class=""href="/"><img class="text-white" src="https://img.icons8.com/m_outlined/2x/plus-2-math.png" alt="" style="width: 8%;"></a>
            <a class=""href="/"><img class="text-white" src="https://img.icons8.com/ios11/2x/compass.png" alt="" style="width: 8%;"></a>
            <a class=""href="/"><img class="text-white" src="https://img.icons8.com/win10/2x/like.png" alt="" style="width: 8%;"></a>
        </div>

        <div class=" ">
            {% if user.is_authenticated %}
            <ul>

                <li class="dropdown btn btn-default">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                        aria-expanded="false" style="font-weight: 700;"><i class="far fa-user"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu btn btn-default" role="menu" style="font-weight: 700; ">
                        <li>
                            <a class='btn btn-default' href="/profile" style="font-weight: 700;">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin" style=" color: black;"
                                style="font-weight: 700;">Dashboard</a>
                        </li>
                        <li>
                            <a class='btn btn-default' href="/accounts/register" style="font-weight: 700;">Register</a>
                        </li>
                        <li>

                            <a class='btn btn-default' href="/admin/password_change" style="font-weight: 700;">Change
                                Password</a>
                        </li>
                        <li>
                            <a class='btn btn-default' href="/logout" style="font-weight: 700;">Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <li>
                <a class='btn btn-default' href="/login" style="font-weight: 700;">Login</a>
            </li>


            {% endif %}
        </div>
    </div>
   
</nav>